.button {
  display: inline-flex;
  padding: .5em 1em;
  background: var(--grey-l);
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--unit);
  border: none;
  border-bottom: 3px solid var(--grey-m);
  border-right: 3px solid var(--grey-m);
  transition: background .25s;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button:hover {
  background: var(--color-accent-light);
}

.button:active {
  background: var(--grey-m);
  transition: none;
}

.button + .button {
  margin-left: var(--unit-s);
}
