:root {
  --grey-l: #d2d5dd;
  --grey-m: #9aa7b4;
  --grey-d: #424559;
  --color-accent: #76b0ff;
  --color-accent-light: #c7ddff;
  --color-hot: #c53c4b;
  --unit: calc(16px + .8vw);
  --unit-s: calc(10px + .5vw);
  --unit-xs: calc(6px + .3vw);
  --border-radius: calc(3px + .2vw);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
  font-weight: 700;
  font-size: var(--unit);
  color: var(--grey-d);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

input, textarea {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--color-accent);
  color: var(--grey-d);
}
